* {
    font-size: 12px;
    font-family: 'Arial, sans-serif;';
}
.raya{
    border-top: 1px dashed black;
}

th,
table {
    border-collapse: collapse;
}
/*
td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
}*/

td.cantidad,
th.cantidad {
    word-break: break-all;
}

td.precio,
th.precio {
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 160px;
    max-width: 165px;
}

img {
    max-width: inherit;
    width: inherit;
}